<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                        http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <!-- see: http://central.sonatype.org/pages/ossrh-guide.html -->

    <localRepository>${user.home}/.m2/repository</localRepository>
    <interactiveMode/>
    <usePluginRegistry/>
    <offline/>

    <proxies>
        <!--proxy>
            <id>http-proxy</id>
            <active>true</active>
            <protocol>http</protocol>
            <host>127.0.0.1</host>
            <port>8080</port>
        </proxy-->
    </proxies>

    <mirrors>
        <mirror>
            <id>central-repo1</id>
            <name>central-repo1</name>
            <url>http://repo1.maven.org/maven2</url>
            <mirrorOf>central</mirrorOf>
        </mirror>
    </mirrors>

    <servers>
        <server>
            <id>gpg.passphrase</id>
            <passphrase>${env.GPG_PASSPHRASE}</passphrase>
        </server>
        <server>
            <id>github</id>
            <password>${env.GITHUB_INFRASTRUCTURE_CONF_GIT_TOKEN}</password>
        </server>
        <server>
            <id>OSSRH-releases</id>
            <username>${env.MAVEN_CENTRAL_USER}</username>
            <password>${env.MAVEN_CENTRAL_PASS}</password>
        </server>
        <server>
            <id>OSSRH-snapshots</id>
            <username>${env.MAVEN_CENTRAL_USER}</username>
            <password>${env.MAVEN_CENTRAL_PASS}</password>
        </server>
        <server>
            <id>docker-hub</id>
            <username>${env.DOCKERHUB_USER}</username>
            <password>${env.DOCKERHUB_PASS}</password>
            <configuration>
                <email>${env.DOCKERHUB_MAIL}</email>
            </configuration>
        </server>
    </servers>

    <activeProfiles>
        <activeProfile>infrastructure-github</activeProfile>
    </activeProfiles>

    <pluginGroups>
        <pluginGroup>org.apache.maven.plugins</pluginGroup>
        <pluginGroup>org.codehaus.mojo</pluginGroup>
        <pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
    </pluginGroups>

    <profiles>
        <profile>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <gpg.executable>gpg</gpg.executable>
                <gpg.keyname>${env.GPG_KEYNAME}</gpg.keyname>
                <gpg.passphrase>${env.GPG_PASSPHRASE}</gpg.passphrase>
            </properties>
        </profile>
        <profile>
            <id>infrastructure-github</id>
            <properties>
                <sonar.host.url>https://sonarqube.com</sonar.host.url>
            </properties>
            <repositories>
                <repository>
                    <id>OSSRH-releases</id>
                    <name>central releases</name>
                    <url>https://oss.sonatype.org/service/local/staging/deploy/maven2</url>
                    <releases><enabled>true</enabled></releases>
                    <snapshots><enabled>false</enabled></snapshots>
                </repository>
                <repository>
                    <id>OSSRH-snapshots</id>
                    <name>central snapshots</name>
                    <url>https://oss.sonatype.org/content/repositories/snapshots/</url>
                    <releases><enabled>false</enabled></releases>
                    <snapshots><enabled>true</enabled></snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>OSSRH-snapshots</id>
                    <name>central snapshots</name>
                    <url>https://oss.sonatype.org/content/repositories/snapshots/</url>
                    <releases><enabled>false</enabled></releases>
                    <snapshots><enabled>true</enabled></snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>OSSRH-thirdparty</id>
                    <name>central thirdparty</name>
                    <url>https://oss.sonatype.org/content/repositories/third-party-releases/</url>
                    <releases><enabled>true</enabled></releases>
                    <snapshots><enabled>false</enabled></snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
</settings>
